:root {
    --ciano: rgba(181, 222, 214, 1);
    --ciano-escuro: rgba(122, 149, 144, 1);
    --bege: rgba(217, 185, 160, 1);
    --areia: rgba(241, 231, 221, 1);
    --marrom: rgba(167, 95, 55, 1);
    --rosa:rgba(201, 143, 131, 1);
    --rosa-claro: rgba(242, 213, 205, 1);
    --preto: rgba(41, 36, 33, 1);

         
}

*{
    margin: 0;
    padding: 0;
    font-family: serif Georgia, 'Times New Roman', Times, serif;                   /*fonte tudo*/
}

/*PRODUTOS EM DESTAQUE*/

h2{
    color: var(--marrom);
    text-align: left;
    padding: 20px;
    font-size: 26;
}

/* BARRA NAV CIANO */

nav{
    background-color: var(--ciano);    
    color: var(--ciano-escuro);
    display: flex;
}

nav a{
    text-decoration: none;             
    color: var(--ciano-escuro);
    display: flex;
    justify-content: flex-end;            /*joga para o lado*/
    align-items: center;                  /*centraliza vertical*/ 
    font-size: 22px;
    padding: 15px;
    text-align: center;
}
    


.nav-logo{                               /*imagem logo*/
display: flex;
align-items: center;
justify-content: space-between;
padding: 5px 50px 5px 5px;
}

.nav-conta{
    text-decoration: none;              /*meu carrinho, login, pedidos*/
    color: var(--ciano-escuro);
    background-color: var(--ciano);
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
}



/* dropdown menu */

.nav{
    background-color: var(--areia);
    font-size: 22px;
    display: flex;
    justify-content: space-around;
}

nav li{
display: inline-block;                /*não quebra a linha*/
}

nav li a{
    display: inline-block;           /*não quebra a linha, um do lado do outro*/
    color: var(--marrom);
    text-decoration: none;
    padding: 20px 50px;
    background-color: var(--areia);
}

nav li a:hover{
    background-color: var(--marrom);
    color: var(--bege);
}

.dropdown-menu{                    /*esconde o menu*/
    position: absolute;
    display: none;
}

.dropdown-menu a{
display: block;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

/* main */

/* BANNER */

.secao-produtos{
    margin-top: 10px;
    margin-bottom: 45px;
}

.img-banner{
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
}

.img-banner-wpp{
    width: 100%;  
    margin-bottom: 45px;
}

/* PRODUTOS */

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--rosa-claro);
        padding: 30px;   /*espaço baixo e topo*/
    }

    .itens {
    display: flex;
    flex-wrap: wrap;  /*faz quebra de linha conforme o tamanho da tela*/
    gap: 60px;     /*espaçamento entre os produtos*/
}


/*IMAGEM PRODUTO*/

    .produto{
        background-color: rgb(255, 255, 255);    /*fundo apenas onde esta img*/
        height: 230px;                             /*altura img*/
        width: 100%;                               /*100% da largura do elemento pai*/
    }

/*CONTEUDO PRODUTO*/

    .item{
        background-color: white;       /*fundo parte do card que não é a img*/
        border: 3px solid var(--rosa);   /*borda card*/
        border-radius: 15px;

        display: flex;
        flex-direction: column;      /*deixar conteudo embaixo um do outro*/
        justify-content: center;     /*centraliza horizontal*/
        align-items: center;         /*centraliza vertical*/
        text-align: center;          /*centralizar texto*/

        width: 250px;               /*largura e altura card*/
        height: 350px;
        padding-bottom: 15px;       /*distancia de baixo*/
        padding-top: 15px;          /*distancia de cima*/
    }

.item img {
    height: auto;                   /*mantem a proporção original da imagem */
    max-height: 180px;              /*limite de altura */
    max-width: 100%;                /*A imagem não vai ultrapassar a largura do seu conteiner*/
}

/*PREÇO PRODUTOS*/

span{
    color: var(--marrom);
    padding: 13px;
    font-weight: bold;
}
p{
    color: var(--preto);
}

/*BOTAO COMPRA*/

button{
    background-color: var(--ciano);
    color: var(--ciano-escuro);
    font-weight: bold;
    padding: 5px 18px;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 2px 2px 0px var(--ciano-escuro);

    transform: scale(1);                /*animação botão*/
    transition: transform 0.3s ease;    /*tempo e suavidade*/
}

button:hover{
    transform: scale(1.1);  /*Aumenta o botão */
}


.tdcachorro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;

    margin-bottom: 45px;            
    margin-top: 15px;

}

.card{
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}


.card img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  background-color: white;
  border:7px solid var(--areia);
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.3s ease;
}

.card:hover img{
    transform: scale(1.1);
}

.card a {
    text-decoration: none;
}

.card p{
     padding: 25px;
     color: var(--preto);
     font-weight: bold;
}

/* RODAPÉ */

footer{
    background-color: var(--ciano);
    color: var(--ciano-escuro);
    font-family: Arial, Helvetica, sans-serif;
}

footer h4{
    font-size: 22px;
}

footer a{
    text-decoration: none;
    color: var(--ciano-escuro);
    font-size: 18px;
}

.footer-info{
    text-decoration: none;
    color: var(--ciano-escuro);
    display: flex;
    flex-direction: column;
}

.footer-info-geral{
    display: flex;
    justify-content: space-around;
}

.footer-rede-social{
    display: flex;
    justify-content: center;
    padding: 20px;
}
