:root {
    --ciano: rgba(181, 222, 214, 1);
    --ciano-escuro: rgba(122, 149, 144, 1);
    --bege: rgba(217, 185, 160, 1);
    --areia: rgba(241, 231, 221, 1);
    --marrom: rgba(167, 95, 55, 1);
    --rosa:rgba(201, 143, 131, 1);
    --rosa-claro: rgba(242, 213, 205, 1);
    --preto: rgba(41, 36, 33, 1);

         
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2{
    color: var(--marrom);
    text-align: left;
    padding: 20px;
    font-size: 26;
}

/* barra nav */

nav{
    background-color: var(--ciano);
    color: var(--ciano-escuro);
    display: flex;
}

nav a{
    text-decoration: none;
    color: var(--ciano-escuro);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 22px;
}

.nav-logo{
display: flex;
align-items: center;
justify-content: space-between;
padding: 5px 50px 5px 5px;
}

.nav-conta{
    text-decoration: none;
    color: var(--ciano-escuro);
    background-color: var(--ciano);
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
}

nav a{
    padding: 15px;
}


/* dropdown menu */

.nav{
    background-color: var(--areia);
    font-size: 22px;
    display: flex;
    justify-content: space-around;
}

nav li{
display: inline-block;
}

nav li a{
    display: inline-block;
    color: var(--marrom);
    text-decoration: none;
    padding: 20px 50px;
    background-color: var(--areia);
}

nav li a:hover{
    background-color: var(--marrom);
    color: var(--bege);
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 2 2 rgb(209, 209, 209);
    display: none;
}

.dropdown-menu a{
display: block;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

/* main */

/* BANNER */

.img-banner{
    width: 100%;
    margin: 35px 0px;
}

/* PRODUTOS */



/* rodapé */

footer{
    background-color: var(--ciano);
    color: var(--ciano-escuro);

}

footer h4{
    font-size: 22px;
}

footer a{
    text-decoration: none;
    color: var(--ciano-escuro);
    font-size: 18px;
}

.footer-info{
    text-decoration: none;
    color: var(--ciano-escuro);
    display: flex;
    flex-direction: column;
}

.footer-info-geral{
    display: flex;
    justify-content: space-around;
}

.footer-rede-social{
    display: flex;
    justify-content: center;
    padding: 20px;
}
